* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'inter', sans-serif; 
} 

/* Index */

.primary{
    background-color: #2E1F27;
    padding: 2% 0px;
}

.primary-element {
    text-align: center;
    background-color: #09BC8A;
    border-radius: 10px;
}

.primary-element h1{
    color: whitesmoke;
    padding: 4%;
    font-size: 2.5vw;
}

.primary-element p{
    color: whitesmoke;
    font-size: 1.2vw;
    padding: 3%;
}

.primary-element-button{
    grid-row: 2;
    background-color: #09BC8A;
    text-align: center;
    padding: 4% 0%;
    border-radius: 10px;
    margin-top: auto;
    transition: all 1s ease;
}

.anchor-button{
    font-size: 1.2rem;
    border-radius: 35px;
    border: solid 1px whitesmoke;
    background-color: #2E1F27;
    color: whitesmoke;
    transition: all 0.5s ease;
    padding: 1.5%;
}

.anchor-button:hover{
    cursor: pointer;
    background-color: #ffde06;
    color: rgb(0, 0, 0);
}

.secondary{
    background-color: #F6F6F6;
}

.secondary-element-one{
    margin-top: 30px;
}

.secondary-element-one h1{
    margin: 10px 0px;
}

.secondary-element-one p{
    margin-bottom: 50px;
}

.secondary-element-two{
    display: flex;
    flex-direction: column;
    justify-content:center;
    color: whitesmoke;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #2E1F27;
}


.secondary-element-two h1 {
    margin: 20px 30px;
    margin-bottom: 10px;
}

.secondary-element-two p{
    margin: 10px 30px;
    padding-bottom: 30px;
}

/* Services */

.services-container{
    margin-top: 50px;
    margin-bottom: 50px;
}

.services-hero{
    color: rgb(0, 0, 0);
    width: 90%;
    margin: auto;
    margin-bottom: 2%;
}

.services-hero h1{
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.services-hero p{
    padding-left: 30px;
    padding-bottom: 30px;
}

.services-element p{
    background-color: #09BC8A;
    border-radius: 20px;
    margin: 2% 10%;
    padding: 1% 10px;
    font-size: 1.2vw;
}

.affiliationspartners-grid h1{
    padding: 20px 0px;
}

/* about */
.about-hero h1 {
    margin: 50px 0px;
}
.about-hero p {
    border-top: solid 2px #09BC8A;
    border-bottom: solid 2px #09BC8A;
    line-height: 25.5px;
}