* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'inter', sans-serif; 
} 

/* Index */

.primary{
    background-color: #2E1F27;
    padding: 2% 0px;
}

.primary-element {
    text-align: center;
    background-color: #09BC8A;
    border-radius: 10px;
    font-size: 1.2rem;
}

.primary-element h1{
    color: whitesmoke;
    padding: 4%;
}

.primary-element p{
    color: whitesmoke;
    padding: 3%;
}

.primary-element-button{
    background-color: #09BC8A;
    text-align: center;
    padding: 4% 0%;
    border-radius: 10px;
    margin-top: auto;
    transition: all 1s ease;
}

.anchor-button{
    border-radius: 35px;
    border: solid 1px whitesmoke;
    background-color: #2E1F27;
    color: whitesmoke;
    transition: all 0.5s ease;
    padding: 1.5%;
}

.anchor-button:hover{
    cursor: pointer;
    background-color: #ffde06;
    color: rgb(0, 0, 0);
}

.secondary{
    background-color: #F6F6F6;
}

.secondary-element-one{
    margin-top: 30px;
}

.secondary-element-one h1{
    margin: 10px 0px;
}

.secondary-element-one p{
    margin-bottom: 50px;
}

.secondary-element-two{
    display: flex;
    flex-direction: column;
    justify-content:center;
    color: whitesmoke;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #2E1F27;
}


.secondary-element-two h1 {
    margin: 20px 30px;
    margin-bottom: 10px;
}

.secondary-element-two p{
    margin: 10px 30px;
    padding-bottom: 30px;
}

/* Services */

.services-container{
    margin-top: 50px;
    margin-bottom: 50px;
}

.services-hero{
    color: rgb(0, 0, 0);
    width: 80%;
    margin: auto;
    margin-bottom: 2%;
}

.services-hero h1{
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.services-hero p{
    padding-left: 30px;
    padding-bottom: 30px;
}

.affiliationspartners-grid h1{
    padding: 20px 0px;
}

/* about */

.about-management-image {
    width: 300px;
    align-self: center;
}

.about-hero h1 {
    margin: 50px 0px;
}
.about-hero p {
    padding: 10px 0px;
    border-top: solid 5px #09BC8A;
    border-bottom: solid 5px #09BC8A;
    line-height: 30.5px;
}

.about-secondary{
    display:flex;
    justify-content: center;
    align-content: center;
}

.about-img {
    width: 55vw;
    margin-top: 50px;
}

.about-management-element{
    
}

.about-management-element h2{
    font-size: 1.3rem;
}

.about-management-header {
    display: flex;
}

.about-management-header em{
    font-size: 1.3rem;
    font-style: normal;
    font-weight:bolder;
    color: #09BC8A;
    flex-grow: 1;
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 2px solid black;
}

.about-management-text {
    margin-top: 20px;
    text-align: justify;
}

.about-management-contact{
    display: flex;
    flex: 80% 20%;
    margin: 20px 0;
}

.about-management-contact p{
    flex-grow: 1;
    text-align: right;
}

.about-management-contact em{
    font-style: normal;
    font-weight:bolder;
    color: #09BC8A;
    padding-left: 1rem;
}

