---
layout: layout.njk
---

<body>
    <div class="services-container">
        <div class="about-hero">
            <h1>
                Our Team
            </h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit
                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="about-secondary">
            <img class="about-img" src="/assets/img/About/team.png">
        </div>
        <div class="about-management-grid">
            <img class="about-management-image" src="/assets/img/About/BusinessMan2.png">
            <div class="about-management-element">
                <div class="about-management-header">
                    <h2>
                        Jerry McClean
                    </h2>
                    <em>
                        Founder
                    </em>
                </div>

                <div class="about-management-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>

                <div class="about-management-contact">
                    <p>
                        <em>Email: </em>j.McClean@financialadvisor.com &ensp;
                        <em>Contact: </em>046-9094635
                    </p>
                </div>
            </div>

            <img class="about-management-image" src="/assets/img/About/BusinessMan2.png">
            <div class="about-management-element">
                <div class="about-management-header">
                    <h2>
                        Mander Manderly
                    </h2>
                    <em>
                        Lead Financial Advisor
                    </em>
                </div>

                <div class="about-management-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>

                <div class="about-management-contact">
                    <p>
                        <em>Email: </em>j.McClean@financialadvisor.com &ensp;
                        <em>Contact: </em>046-9094635
                    </p>
                </div>
            </div>

            <img class="about-management-image" src="/assets/img/About/BusinessMan2.png">
            <div class="about-management-element">
                <div class="about-management-header">
                    <h2>
                        Noel Noleen
                    </h2>
                    <em>
                        Human Resources Manager
                    </em>
                </div>

                <div class="about-management-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>

                <div class="about-management-contact">
                    <p>
                        <em>Email: </em>j.McClean@financialadvisor.com &ensp;
                        <em>Contact: </em>046-9094635
                    </p>
                </div>
            </div>



        </div>
    </div>
</body>