<header>
  <div id="logo">
  </div>

  <nav>
    <ul class="navlinks">
      <li><a href="/">Home</a></li>
      <li><a href="/coaches">Services</a></li>
      <li><a href="/gallery">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>